<script>
    function UserAction() {
        $.get('http://localhost:53922/api/currenttime', function (data) {
            $('#output').html('').removeClass('d-none');
            $.each(data, function (key, value) {
                $('#output').append('<p><b>' + key + '</b>: ' + value +'</p>');
            });
        });
    }
</script>

<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h2>AWH Clockwork Project @ViewData["Version"] on @ViewData["Runtime"]!</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <button type="button" class="btn btn-primary" onclick="UserAction()">Get the time</button>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 mt-2">
            <p id="output" class="alert alert-success d-none" role="alert"></p>
        </div>
    </div>
</div>

